@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 100px; /* Adjust the value to the height of your header */
}